<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body ng-controller="MyCtrl1">
  <div  g-chart></div>
  <select id="chartType" ng-change="selectType(chartType)" ng-model="chartType" ng-options="c.typeName for c in chartTypes">
 </select>
 <div>Angular seed app: v<span app-version></span></div>
<li class="dropdown" >
  <a class="dropdown-toggle" >
    {{chartType.typeName}}
  </a>
  <ul class="dropdown-menu">
    <li ng-click="selectType(chartType)" ng-model="chartType" ng-repeat="choice in chartTypes">
      <a >{{choice.typeName}}</a>
    </li>
  </ul>
</li>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/common/ui-bootstrap-tpls-0.10.0.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
